/* Create skill profile screen */

.mainContainer {
  text-align: center;
}

.titleText {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 900;
  font-family: Arial;
  font-size: 40px;
}

.helperMessage {
  padding: 0px 400px;
}

@media screen and (max-width: 768px) {
  .helperMessage {
    padding: 0px 20px; /* Adjust the padding for smaller screens */
  }
}


.skillText {
  font-family: Arial;
  font-size: 19px;
  font-weight: 550;
  padding: 5px 15px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(54, 54, 54);
  color: white;
}

.inputField {
  margin-left: 20px;
  padding: 5px;
  box-shadow: 1px 5px 3px rgb(0, 0, 0, 0.05);
  border-radius: 10px;
  border-style: solid;
}

.createButton {
  background-color: rgb(23, 58, 146);
  border-radius: 20px;
  padding: 10px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.15s;
  cursor: pointer;
}

.createButton:hover {
  background-color: rgb(40, 81, 186);
  box-shadow: 1px 5px 3px rgb(45, 81, 176, 0.05);
}

.createText {
  font-size: 17px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

/* Radar chart screen */

.stat-display {
  display: flex;
  justify-content: center; /* Centers the columns horizontally */
  align-items: center; /* Centers the columns vertically */
  height: 89vh; 
}

.stat-column{
  width: 500px;
  top: 0px;
}

.stat-column.image {
  display: flex;
  width: auto;
  flex: 1;
  justify-content: center;
  max-height: 600px;
}

.character-image {
  max-width: 30%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {

    .stat-column.image {
      display: none;
    }
  .stat-display {
    flex-direction: column; /* Stacks the columns vertically */
    justify-content: flex-start; /* Adjusts vertical alignment for better UX */
    height: auto; /* Allows content to flow naturally */
    padding: 20px; /* Adds padding around the content */
  }

  .stat-column {
    margin: 20px 0; /* Adds spacing between stacked columns */
    text-align: center; /* Centers text on smaller screens */
    max-height: 400px;
    padding: 20px 0;
  }
}

.stat-column h2 {
  margin-bottom: 10px; /* Adds spacing between the header and the list of skills */
}

.stat-column p {
  margin: 5px 0; /* Adds a little spacing between each skill */
}